.manage {
  text-align: center;
  position: relative;

  &__title {
    margin-bottom: 2rem;
  }

  &__empty {
    @include respond(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 80rem;
    }

    &--user {
      @include respond(desktop) {
        max-width: 26.5rem;
      }
    }
  }

  &__section {
    @include respond(desktop) {
      display: flex;
      gap: 5rem;
    }
  }

  &__cards {
    display: flex;
    overflow-x: auto;
    margin-bottom: 2rem;

    &--posts {
      display: block;
      height: 45rem;
      overflow-y: auto;
    }

    @include respond(desktop) {
      display: block;
      background-color: $color-white;
      border-radius: 15px;
      box-shadow: $shadow-auth;
      padding: 3rem 4rem;
      margin-top: 1.5rem;
      height: 55rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
