.users {
  animation: fadeIn 0.08s;

  &__title {
    margin: 3rem 0;
    text-align: center;
  }

  &__grid {
    display: grid;

    @include respond(desktop) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      overflow-y: scroll;
      height: 55rem;
      margin: 0 5rem;
    }
  }
}
