.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInDown 0.8s ease-out;

    @include respond(desktop) {
      background-color: $color-white;
      box-shadow: $shadow-auth;
      border-radius: 25px;
      padding: 4rem 7rem;
    }
  }

  &__pic {
    border-radius: 50%;
    width: 15rem;
    padding: 3rem;
    margin-bottom: 5rem;
  }

  &__form {
    margin-bottom: 1.5rem;
  }

  &__buttons {
    text-align: center;
  }

  &__text {
    color: $color-gray-dark;
    margin-top: 2rem;
  }

  &__signup {
    color: $color-blue-light;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }
  }
}
