.info {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: $color-white;
  box-shadow: $shadow-dark;
  border-radius: 15px;
  margin: 1rem 2rem;
  padding: 2rem;

  &__img {
    width: 5rem;
  }

  &__name {
    font-size: 2rem;
    font-weight: bold;
  }

  &__email {
    color: $color-blue-light;
    margin-bottom: 1rem;
  }

  &__phone {
    font-size: 1.4rem;
    color: $color-green;
  }
}
