* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: $color-gray;
  color: $color-gray-dark;
  height: 100vh;

  // SCROLLBAR STYLES
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(192, 192, 192);
    border-radius: 50px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(126, 126, 126);
  }

  @include respond(tablet) {
    overflow: hidden;

    // SCROLLBAR STYLES
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }
  }
}

img {
  max-width: 100%;
}

::placeholder {
  color: #a7a7a7;
  font-size: $default-font-size;
}

.dashboard__container {
  margin: 2rem;

  @include respond(desktop) {
    margin: 2rem 5rem;
  }
}
