body {
  font-family: 'Outfit', sans-serif;
  font-size: $mobile-font-size;

  @include respond(desktop) {
    font-size: $desktop-font-size;
  }
}

.swal2-popup {
  font-family: 'Outfit', sans-serif;
  font-size: $mobile-font-size !important;

  @include respond(desktop) {
    font-size: $desktop-font-size !important;
  }
}

.title {
  font-size: 3.7rem;

  @include respond(desktop) {
    font-size: 4.2rem;
  }
}

.heading__primary {
  font-size: 2.7rem;

  @include respond(tablet) {
    font-size: 3.2rem;
  }
}

.heading__secondary {
  font-size: 1.9rem;
  margin-bottom: 2rem;

  @include respond(tablet) {
    font-size: 2.4rem;
  }
}
.heading__tertiary {
  font-size: 1.6rem;

  @include respond(tablet) {
    font-size: 2.1rem;
  }
}

.paragraph {
  font-size: $mobile-font-size;

  @include respond(desktop) {
    font-size: 4.2rem;
  }
}
